<div class="container mt-5">
    <h2 class="text-center">Héroes y Villanos</h2>
    
    <!-- Primera Tarjeta -->
    <div class="card mb-3" style="max-width: 18rem;">
      <img src="\src\assets\img\batman.png" class="card-img-top" alt="Batman">
      <div class="card-body">
        <h5 class="card-title">Batman</h5>
        <p class="card-text">Un héroe enmascarado de Gotham que lucha contra el crimen con su astucia e inteligencia.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <a href="#" class="btn btn-outline-success">Ver más...</a>
      </div>
    </div>
  
    <!-- Segunda Tarjeta (Villano ejemplo) -->
    <div class="card mb-3" style="max-width: 18rem;">
      <img src="\src\assets\img\daredevil.png" class="card-img-top" alt="Joker">
      <div class="card-body">
        <h5 class="card-title">daredevil</h5>
        <p class="card-text">El archienemigo de Batman, un villano caótico y peligroso.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <a href="#" class="btn btn-outline-success">Ver más...</a>
      </div>
    </div>
</div>
  